<footer class="footer">

  <div class="footer-left">
    <span>© 2026 Wanderlust, Inc.</span>

    <span class="dot">·</span>
    <a href="#">Privacy</a>

    <span class="dot">·</span>
    <a href="#">Terms</a>

    <span class="dot">·</span>
    <a href="#">Company details</a>
  </div>

  <div class="footer-right">

    <div class="language">
      <i class="fa-solid fa-globe"></i>
      <span>English (IN)</span>
    </div>

    <span class="currency">₹ INR</span>

    <div class="socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>

  </div>

</footer>