<% layout("layouts/boilerplate") %>

<div class="container mt-5">

    <div class="alert alert-danger">

        <h1 class="mb-3">
            Oops!
        </h1>

        <h4>
            <%= message %>
        </h4>

    </div>

</div>