<% layout("layouts/boilerplate") %>

<div class="auth-container">

   <div class="auth-card">

      <div class="reset-top">

         <div class="reset-icon">

            <i class="fa-solid fa-envelope"></i>

         </div>

         <h2>
            Forgot Password
         </h2>

         <p>
            Enter your email to receive
            reset link
         </p>

      </div>

      <form action="/forgot-password"
      method="POST">

         <div class="mb-4">

            <label class="form-label">

               Email Address

            </label>

            <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter your email"
            required
            >

         </div>

         <button class="auth-btn">

            Send Reset Link

         </button>

      </form>

   </div>

</div>