<% layout("layouts/boilerplate") %>

<div class="auth-container">

   <div class="auth-card">

      <div class="reset-top">

         <div class="reset-icon">

            <i class="fa-solid fa-lock"></i>

         </div>

         <h2>
            Reset Password
         </h2>

         <p>
            Create a new secure password
         </p>

      </div>

      <form method="POST">

         <div class="mb-4">

            <label class="form-label">

               New Password

            </label>

            <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter new password"
            required
            >

         </div>

         <button class="auth-btn">

            Update Password

         </button>

      </form>

   </div>

</div>