<% layout("layouts/boilerplate") %>

<div class="row justify-content-center mt-5">

    <div class="col-md-6 col-lg-5">

        <div class="auth-card">

            <h2 class="text-center mb-4 fw-bold">
                Create Account
            </h2>

            <form method="POST" action="/signup">

                <!-- USERNAME -->

                <div class="mb-3">

                    <label class="form-label">
                        Username
                    </label>

                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Enter username"
                        required
                    >

                </div>

                <!-- EMAIL -->

                <div class="mb-3">

                    <label class="form-label">
                        Email
                    </label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter email"
                        required
                    >

                </div>

                <!-- PASSWORD -->

                <div class="mb-4">

                    <label class="form-label">
                        Password
                    </label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password"
                        required
                    >

                </div>

                <button class="btn auth-btn w-100">
                    Sign Up
                </button>

            </form>

        </div>

    </div>

</div>